n8n-workflow.sample.json
{
  "name": "Charades Topic Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "charades-topic",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "2c3bc4aa-d4a0-4d87-b934-2994df7ea51b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        32
      ],
      "webhookId": "CHANGE-THIS-TO-YOUR-WEBHOOK-ID"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI Agent's response\nconst output = $input.first().json.output || $input.first().json.text || '';\n\n// Extract category, emoji, and topic using regex\nconst categoryMatch = output.match(/Category:\\s*(.+)/);\nconst emojiMatch = output.match(/Emoji:\\s*(.+)/);\nconst topicMatch = output.match(/Topic:\\s*(.+)/);\n\nconst category = categoryMatch ? categoryMatch[1].trim() : 'Mystery';\nconst emoji = emojiMatch ? emojiMatch[1].trim() : '🎭';\nconst topic = topicMatch ? topicMatch[1].trim() : 'Something Fun';\n\nreturn [{\n  json: {\n    category: category,\n    emoji: emoji,\n    topic: topic\n  }\n}];"
      },
      "id": "6c236f85-4e5c-47f1-aaf4-4a70d840bc3a",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        32
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are generating topics for a charades game.\n\n{{ $json.theme ? 'THEME: Generate topics related to \"' + $json.theme + '\". All topics must fit this theme.\\n\\n' : '' }}\n\nGenerate ONE specific topic that would be fun to act out.\nChoose from these categories: Movies, TV Shows, Songs, Books, Famous People.\n\n{{ $json.usedTopics && $json.usedTopics.length > 0 ? 'DO NOT generate any of these already used:\\n' + $json.usedTopics.join(', ') + '\\n\\n' : '' }}\n\nReply ONLY in this format:\nCategory: [category name]\nEmoji: [emoji]\nTopic: [topic name]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        144,
        32
      ],
      "id": "ecf19772-de11-4914-a926-010767de815a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "id": "4ba44b72-7602-4c2b-83b1-03a9b8ee530f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "k7yyIv5uOse1D5OP",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "587db078-dd9e-4dc2-9095-a70d3b9f59ea",
              "name": "chatInput",
              "value": "=={{ ($json.body.theme ? 'THEME: Generate topics related to \"' + $json.body.theme + '\". All topics must fit this theme.\\n\\n' : '') + 'Generate ONE specific charades topic.\\n\\nCategories: Movies, TV Shows, Songs, Books, Famous People.\\n\\n' + ($json.body.usedTopics && $json.body.usedTopics.length > 0 ? 'Already used (do not repeat): ' + $json.body.usedTopics.join(', ') + '\\n\\n' : '') + 'Reply in this format:\\nCategory: [category]\\nEmoji: [emoji]\\nTopic: [topic name]' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        32
      ],
      "id": "26c60e62-8aba-48b4-90e6-aa71c7896193",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "68399408-f6f7-470b-b270-c3c828f8484f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7b4d981d350faf6cf4fda287504d26904783a578e3ae65bf617ef2973b27fd5"
  },
  "id": "uFyePQg11boo3Q0L",
  "tags": []
}